<!-- BEGIN_INCLUDE(yammer:get-messages) -->
<yammer:get-messages/>
<!-- END_INCLUDE(yammer:get-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-sent-messages) -->
<yammer:get-sent-messages/>
<!-- END_INCLUDE(yammer:get-sent-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-received-messages) -->
<yammer:get-received-messages/>
<!-- END_INCLUDE(yammer:get-received-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-private-messages) -->
<yammer:get-private-messages/>
<!-- END_INCLUDE(yammer:get-private-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-following-messages) -->
<yammer:get-following-messages/>
<!-- END_INCLUDE(yammer:get-following-messages) -->

<!-- BEGIN_INCLUDE(yammer:create-message) -->
<yammer:create-message body="New cool message"/>
<!-- END_INCLUDE(yammer:create-message) -->

<!-- BEGIN_INCLUDE(yammer:get-users) -->
<yammer:get-users/>
<!-- END_INCLUDE(yammer:get-users) -->

<!-- BEGIN_INCLUDE(yammer:get-user-by-id) -->
<yammer:get-user-by-id id="1"/>
<!-- END_INCLUDE(yammer:get-user-by-id) -->

<!-- BEGIN_INCLUDE(yammer:get-user-by-email) -->
<yammer:get-users/>
<!-- END_INCLUDE(yammer:get-user-by-email) -->

<!-- BEGIN_INCLUDE(yammer:get-relationships) -->
<yammer:get-relationships/>
<!-- END_INCLUDE(yammer:get-relationships) -->
